<section class="wrapper style5 special">
  <ul class="features big">
    <!-- Código de la primera lista omitido por brevedad -->
    <li>
      <div class="inner">
        <h5>¿Qué incluye nuestro servicio?</h5>
        <div style="text-align: justify; margin: 50 auto;">
          <div class="table-wrapper">
            Diseño y desarrollo personalizado de tu página web.<br>
            Tarjeta digital de regalo.<br>
            Diseño responsivo para adaptarse a dispositivos móviles.<br>
            Integración de redes sociales.<br>
            Formulario de contacto.<br>
            Incorporación de contenido multimedia.<br>
            Configuración de dominio y hosting (si es necesario).<br>
            Asesoramiento y soporte técnico durante el proceso.<br>
          </div>
        </div>
        <p>
          No pierdas esta oportunidad de tener una presencia en línea
          profesional a un precio increíblemente bajo. Nuestro equipo de
          expertos en diseño web está listo para crear una página web que
          cumpla con tus necesidades y objetivos comerciales.
        </p>
        <app-form></app-form>
      </div>
    </li>
  </ul>
</section>
