<section id="associates" class="wrapper style3">
  <div class="inner">
    <header class="major">
      <h2>Trabajamos</h2>
    </header>
    <div class="associate-logos">
      <div class="logo">
        <img src="..\..\..\..\assets\template\images\html5.png" alt="HTML5" />
        <p>HTML5</p>
      </div>
      <div class="logo">
        <img src="..\..\..\..\assets\template\images\css3.png" alt="CSS3" />
        <p>CSS3</p>
      </div>
      <div class="logo">
        <img src="..\..\..\..\assets\template\images\javascript.png" alt="JavaScript" />
        <p>JavaScript</p>
      </div>
    </div>
  </div>
</section>
